.headingImage {
  box-shadow: 2px 4px 12px darkkhaki;
  background-color: gold;
  height: 34%;
  width: 25%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
