.footerContainer {
  background-color: #0c2659;
  color: white;
  padding: 30px 10px 30px 10px;
}
.footerColumn {
}
.footerColumnHeading {
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
}
