.socialIcon {
  height: 17px;
  width: 17px;
}
.socialIconRow {
  display: flex;
}
.socialIconConatiner {
  background-color: black;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
